*{
    scroll-behavior: smooth;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #ab5fba, #e273e2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 250vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.home{
    height: 100vh;
    background-image: url(../assets/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#testimonials{
    margin-top: 5rem;
}

.rounded-circle{
    border-radius: 10%;
}

.circle{
    width: 50px;

}

.carousel-inner{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.carousel-indicators{
    margin: -2rem;
}

.mt-0 {
    margin-top: 0 !important;
  }

.glass{
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.5px);
-webkit-backdrop-filter: blur(15.5px);}

#testimonials .container{
    padding-top: 1rem;
}
.carousel-indicators{
    border-radius: 50%;
}

.carousel-item img{
    box-shadow: 5px 5px 5px rgba(56, 35, 35, 0.159);
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;

}
.projects-container img{
    max-height: 400px;
    flex-grow: 1;
    object-fit: cover;
}